<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ecnudbcourse.acnhdb.mapper.HousewaresMapper">
    <!-- 具体的SQL语句定义 -->
    <select id="selectHouseWareMaterialsByName" parameterType="String" resultType="com.ecnudbcourse.acnhdb.dto.HouseWareMaterials">
        SELECT
            COALESCE(r.Material_1, '') AS material1,

            COALESCE(r.Material_2, '') AS material2,

            COALESCE(r.Material_3, '') AS material3,

            COALESCE(r.Material_4, '') AS material4,

            COALESCE(r.Material_5, '') AS material5,

            COALESCE(r.Material_6, '') AS material6

        FROM
            housewares h
                JOIN
            recipes r ON h.Name = r.Name
        WHERE
            h.Name = #{name}
          AND h.DIY = 'yes'
    </select>
</mapper>